@font-face{
  font-family: "museo";
  src: url('../assets/fonts/museo/museo-300-webfont.woff');
}

body{
  background: url('https://github.com/sford9/web_1_project_2/blob/master/assets/textures/fabric_plaid.png?raw=true');
}

/*NAVIGATION BAR*/
nav{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "museo";
  
  
}

#left{
  display: flex;
  align-items: center;
  color: #444645;
  
}

#right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.button{
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #444645;
  font-family: nunito san, sans-serif;
  margin: 10px 0;
  
}

a.button:hover{
  background-color: #686868;
  color: white;
}

.icons{
  max-width: 35px;
  max-height: 35px;
  margin: 3px;
  border-radius: 5px;
}

#navimg{
  width: 150px;
}


/*SLIDER*/
.border{
  display: flex;
  border: 8px solid black;
  border-radius: 5px;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#headimg{
  width: 90vw;
}

.arrow{
  display: flex;
  width: 80px;
  height: 80px;
  
}

/*MAIN*/

#maintxt{
  margin: 40px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-family: "museo";
}

#grid{
  display: flex;
  flex-wrap: wrap;
  
}

.pics{
  width: 20px;
  margin: 2% 2%;
}

/*VIEW MORE*/

#vm{
  display: flex;
  justify-content: center;
}

.viewmore{
  text-decoration: none;
  color: white;
  background: url('https://github.com/sford9/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
  background-color: #a6a69d;
  background-blend-mode: multiply;
  width:300px;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  font-family: "museo";
}

a.viewmore:hover{
  background-color: gray;
  
}

/*LAST BAR*/

#bar{
  background-color: #444645;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  font-size: 18px;
  font-family: "museo";
 
}

#barimage{
  max-width: 40px;
  max-height: 40px;
  margin: 3px;
  border-radius: 5px;
  display: flex;
}

#smalltxt{
  font-size: 10px;
}

/*FOOTER*/

footer{
  display: flex;
  background: url('https://github.com/sford9/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
  background-color: #a6a69d;
  background-blend-mode: multiply;
  width:95vw;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  font-family: "museo";
}

#search{
  width: 350px;
}

h1{
  font-size: 1rem;
  color: #444645
}


#footerimg{
  width: 80px;
  height: 60px;
}

.white{
  color: white;
}


#footgrid{
  display: flex;
  flex-wrap: wrap;
  
}

.footsec{
  width: 33%
}

.footsquare{
  display: flex;
  width: 80px;
  height: 80px;
  flex-wrap: wrap;
  padding: 4px;
  
}


#read{
  text-decoration: none;
  
}